@font-face {
	font-family: 'Open Sans Light';
	font-style: normal;
	font-weight: 300;
	src: local('Open Sans Light'), local('OpenSans-Light'), url(../fonts/open-sans-light.woff) format('woff');
}
@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 300;
	src: local('Open Sans'), local('OpenSans'), url(../fonts/open-sans.woff) format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(../fonts/lato-regular.woff) format('woff');
}
html, body {
	font-family: 'Calibri', sans-serif;
	font-weight: 400;
}
.content {
	margin-bottom: 10px;
}
.navbar.navbar-ganeshatiga a {
	color: #555;
	border-bottom: solid 2px rgba(0,0,0,0);
}
.navbar.navbar-ganeshatiga .active > a {
	border-bottom: solid 2px #000;
}
.navbar-ganeshatiga {
	background-color: #fff;
	border-bottom: solid 1px #ccc;
}
.navbar-toolbox {
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,.13);
	box-shadow: 0 1px 3px rgba(0,0,0,.13);
}
.navbar-toolbox a {
	color: #555;
}
.navbar-component {
	margin-top: 8px;
	margin-bottom: 8px;
}
.box {
	width: 100%;
	margin: 10px;
	background-color: #fff;
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,.13);
	box-shadow: 0 1px 3px rgba(0,0,0,.13);
}
.box .box-heading {
	padding: 10px 30px;
	border-bottom: solid 1px #ccc;
}
.box .box-body {
	padding: 30px;
}
.box .box-footer {
	padding: 10px 30px;
	border-top: solid 1px #ccc;
}
.input-text {
	display: table;
	width: 100%;
	padding: 5px 10px;
	border: solid 1px #aaa;
}
.input-text input {
	display: table-cell;
	width: 100%;
	height: 100%;
	border: none;
}
.input-text input:focus {
	outline: none;
}
.input-text .input-icon {
	display: table-cell;
	color: #555;
}
.input-text.primary {
	border-left: solid 2px #3071a9;
}
.input-text.danger {
	border-left: solid 2px #d9534f;
}

.button-pills {
	display: table;
	width: 100%;
	height: 40px;
}
.button-pills .btn {
	display: table-cell;
	background: none;
	border-radius: 0;
	color: #505050;
	border: none;
}
.button-pills .btn.active {
	background-color: #777;
	color: #fff;
}
.button-pills .btn:hover {
	background-color: #f0f0f0;
}
.bg-light {
	background-color: #f0f0f0;
}
.bg-light-1 {
	background-color: #e0e0e0;
}
.bg-light-2 {
	background-color: #d0d0d0;
}
.bg-light-3 {
	background-color: #c0c0c0;
}
.bg-dark {
	background-color: #b0b0b0;
}
.bg-dark-1 {
	background-color: #a0a0a0;
}
.stretch-list-group {
	width: 100%;
}
.stretch-list-group .list-item {
	width: 100%;
	padding: 10px;
	background-color: #fff;
	border-bottom: solid 1px #f0f0f0;
}
.callout {
	padding: 15px;
	border-left: 3px solid #eee;
}
.callout.callout-danger {
	color: #a34040;
	background-color: #fdf0f0;
	border-color: #a34040;
}
.callout.callout-info {
	color: #31708f;
	background-color: #d9edf7;
	border-color: #31708f;
}
.callout.callout-warning {
	color: #8a6d3b;
	background-color: #fcf8e3;
	border-color: #8a6d3b;
}
.callout.callout-success {
	color: #3c763d;
	background-color: #dff0d8;
	border-color: #3c763d;
}